
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<br />

<h4>User</h4>
<li>@Html.ActionLink("Add User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
<li>@Html.ActionLink("List Users With Department", "EmployeeWithDepartmentRoomRole", "Admin", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
<li>@Html.ActionLink("List All Users", "ListUsers", "Admin", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

<h4>Roles</h4>
<li>@Html.ActionLink("List Roles", "ListRoles", "Admin", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

