

<div id="text-container">
    @{
        <h2>Pending Orders</h2>
        @Html.Action("_Pending", "Orders")
        <h2>Approved Orders</h2>
        @Html.Action("_Approved", "Orders")
        <h2>Denied Orders</h2>
        @Html.Action("_Denied", "Orders")
        <h2>Cancelled Orders</h2>
        @Html.Action("_Cancelled", "Orders")

    }

</div>