
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
@{
    ViewBag.Title = "Index";
}
<div id="text-container">

    <h2>Welcome to the West Virginia University at Parkersburg Purchase Requisition.<br /><br />Authorized Personnel Only</h2>

</div>